# Backend - MT5
CUSTOM_USER=cherdon.liew
PASSWORD=1234
VNC_DOMAIN=vnc.mt5.cherdon.autos
API_DOMAIN=api.mt5.cherdon.autos
MT5_API_PORT=5001
MT5_TERMINAL_PATH=C:\Program Files\MetaTrader 5\terminal64.exe
N8N_DOMAIN=n8n.mt5.cherdon.autos

# Traefik
TRAEFIK_DOMAIN=traefik.mt5.cherdon.autos
TRAEFIK_USERNAME=cherdon.liew
TRAEFIK_HASHED_PASSWORD=
ACME_EMAIL=sidehackr@gmail.com

# Postgres
POSTGRES_DB=postgres
POSTGRES_USER=cherdon.liew
POSTGRES_PASSWORD=1234

# n8n
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=$POSTGRES_DB
DB_POSTGRESDB_USER=$POSTGRES_USER
DB_POSTGRESDB_PASSWORD=$POSTGRES_PASSWORD

# Monitoring
GRAFANA_DOMAIN=grafana.mt5.cherdon.autos

# Backend - Django
MT5_API_URL=http://mt5:5001
MT5_API_KEY=change-me
MT5_TERMINAL_PATH=C:\Program Files\MetaTrader 5\terminal64.exe
DJANGO_DOMAIN=django.mt5.cherdon.autos
N8N_WEBHOOK_URL=https://n8n.mt5.cherdon.autos/webhook/xxx
LOG_VOLUME=/mnt/volume_sgp1_01/logs

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Redis
REDIS_URL=redis://redis:6379/1

# Binance
API_KEY_BINANCE=xxx
API_SECRET_BINANCE=xxx

# Control API
CONTROL_API_DOMAIN=control-api.mt5.cherdon.autos
CONTROL_API_PORT=5002
HOLDER_NAME=example-holder

# Quant / Arbitrage
ENABLE_QUANT_BOOTSTRAP=false
PAIR_INDEX=0
CONTRACT_SIZE=100
MINIMUM_TRADE_AMOUNT=1

# Frontend
FRONTEND_DOMAIN=frontend.mt5.cherdon.autos
VITE_API_BASE_URL=https://mt5control-api.cherdon.autos
VITE_API_BASE_URL_2=https://mt5control-api.cherdon.autos
VITE_API_BASE_URL_3=https://mt5control-api.cherdon.autos
VITE_API_BASE_URL_DEV=http://localhost:5002

# Telegram Bot
TELEGRAM_BOT_TOKEN=xxx
TELEGRAM_OWNER_ID=99456745